.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 100px;
  text-align: center;
  background-color: rgba(0,0,0,.4);
    color: #fff;

}

  #cars {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 100px;
    text-align: center;
    background-color: rgba(0,0,0,.4);
      color: #fff;
  }

  .grid-item {
    padding: 50px;
    font-size: 20px;
    text-align: left;
  }
  
  .grid{
    background-color: rgba(0,0,0,.1);
    color: #fff;
  }
    #navb{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;}
      nav img {
          height: 50px;

      }
      .divnav {
          height: 100%;
          width: 500px;

      }
      .body {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;

  }
  h5{
    text-align: center;
  }
  #back {
    background: none;
  }
  #book{
    box-shadow:2px 3px; 
    width: 100%;
  
  }
  .pagination-a .pagination .page-link {
    margin: 0 .2rem;
    border-color: transparent;
    padding: .5rem .8rem;
    color: #000000;
  }
  
  .pagination-a .pagination .page-link:hover,
  .pagination-a .pagination .page-link:active,
  .pagination-a .pagination .page-link:focus {
    background-color: #2eca6a;
  }
  
  .pagination-a .pagination .page-link span {
    font-size: 1.2rem;
  }
  
  .pagination-a .pagination .next .page-link {
    padding: .4rem .9rem;
  }
  
  .pagination-a .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .pagination-a .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .pagination-a .pagination .page-item.disabled .page-link {
    padding: .4rem .9rem;
    color: #555555;
  }
  
  .pagination-a .pagination .page-item.active .page-link {
    background-color: #2eca6a;
  }


  .property-grid .grid-option {
    text-align: right;
    margin-bottom: 2rem;
  }
  
  .property-grid .grid-option .custom-select {
    border-radius: 0;
    width: 200px;
    border-color: #313131;
  }
  
  .property-grid .grid-option .custom-select:hover,
  .property-grid .grid-option .custom-select:active,
  .property-grid .grid-option .custom-select:focus {
    border-color: #313131;
  }
  
  .property-grid .grid-option .custom-select option {
    border-color: #313131;
  }

  a{
    cursor: pointer;
  }
